name: ChangeBot

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:
  push:

permissions:
  contents: write

jobs:
  monitor:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Check endpoint status
        uses: phlgr/changebot-monitor@main
        with:
          command: "update"
          ntfy_topic: ${{ secrets.NTFY_TOPIC }}

      - name: Summary
        run: |
          echo "Website monitoring completed at $(date)"
