name: ChangeBot

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:
  push:

permissions:
  contents: write

jobs:
  monitor:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Check endpoint status
        uses: phlgr/changebot-monitor@main
        with:
          command: "update"
          ntfy_topic: ${{ vars.NTFY_TOPIC }}

      - name: Summary
        run: |
          echo "Website monitoring completed at $(date)"
