name: ChangeBot

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:
  push:

permissions:
  contents: write

jobs:
  monitor:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Check endpoint status
        uses: phlgr/changebot-monitor@v1.0.0
        with:
          command: "update"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NTFY_TOPIC: ${{ secrets.NTFY_TOPIC }}
          NTFY_SERVER: ${{ secrets.NTFY_SERVER || 'https://ntfy.sh' }}

      - name: Summary
        run: |
          echo "Website monitoring completed at $(date)"
